<form>
	<mat-card>
		<mat-input-container>
			<input matInput placeholder="Coffee Name" name="name" [(ngModel)]="coffee.name">
		</mat-input-container>
		
		<mat-input-container>
			<mat-select placeholder="Coffee type" name="type" [(ngModel)]="coffee.type">
				<mat-option *ngFor="let type of types" [value]="type">{{ type }}</mat-option>
			</mat-select>
		</mat-input-container>
	</mat-card>
	
	<mat-card>
		<mat-input-container>
			<input matInput placeholder="Place Name" name="place" [(ngModel)]="coffee.place">
		</mat-input-container>

		<mat-input-container>
			<input matInput placeholder="Address" name="address" [(ngModel)]="coffee.location.address">
		</mat-input-container>

		<mat-input-container>
			<input matInput placeholder="City" name="city" [(ngModel)]="coffee.location.city">
		</mat-input-container>
	</mat-card>
	
	<mat-card>
		<mat-input-container>
			<textarea matInput placeholder="Notes" name="notes" [(ngModel)]="coffee.notes"></textarea>
		</mat-input-container>
	</mat-card>

	<mat-card>
		{{ coffee | json }}
	</mat-card>
</form>